<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.StudentMapper">

    <select id="selectOne" resultType="org.example.entity.Student">
        SELECT * FROM student WHERE id = #{id}
    </select>

    <insert id="insertStudent" parameterType="org.example.entity.Student">
        INSERT INTO student (name, age)
        VALUES(#{name}, #{age})
    </insert>

</mapper>